@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #212529;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-snow: #f8f9fa;
  --color-platinum: #e9ecef;
  --color-alabaster: #dee2e6;
  --color-pale: #ced4da;
  --color-muted: #adb5bd;
  --color-slate: #6c757d;
  --color-iron: #495057;
  --color-gunmetal: #343a40;
  --color-carbon: #212529;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea, select {
  color: #212529;
}

input::placeholder, textarea::placeholder {
  color: #adb5bd;
}
